@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
// Import bootstrap and fontawesome
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar{
	margin-top: 50px;
	height: 170px;
	&.navbar-default{
		background-color: transparent;
		border-color: transparent;
	}
	.container{
		height: 100%;
		.navbar-header {
		    width: 100%;
		    height: 100%;
		    display: flex;
		    align-items: center;
		    .navbar-brand{
		    	display: block;
		    	height: 100%;
		    	padding: 0;
		    }
			.navbar-toggle {
				display: block;
				float: right;
				order: 2;
			    margin-left: auto;
				border-color: transparent;
				height: 50px;
				width: 50px;
				border-radius: 50%;
				padding-left: 13px;
				&.collapsed {
					.icon-bar{
						&:nth-child(2){
							transform: rotate(0)translateY(0)translateX(0);
						}
						&:nth-child(3){
							opacity:1
						}
						&:nth-child(4){
							transform:rotate(0)translateY(0)translateX(0);
						}
					}
				}
				.icon-bar{
					transition: .5s ease;
					background-color: white;
					&:nth-child(2){
						transform: rotate(-45deg)translateY(5px)translateX(-5px);
					}
					&:nth-child(3){
						opacity: 0
					}
					&:nth-child(4){
						transform:rotate(45deg)translateY(-4px)translateX(-3px);
					}
				}
				&:hover,&:focus{
					background-color: rgba(0, 0, 0, 0.5);
					transition: all 0.2s linear;
				}
			}
		}
	}
}

.jumbotron{
	height: 100vh;
	padding-top: 140px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0;
	transition: all 0.2s linear;
	&.bg01{
		background-image: url(../images/img_index/bg01.png);
	}
	&.bg02{
		background-image: url(../images/img_index/bg02.png);
	}
	&.bg03{
		background-image: url(../images/img_index/bg03.png);
	}
	&.index-ff{
		.images{
			#img_index_center02{
				margin-left: 45px;
			}
			.img-center{
				height: 311px;
			}
		}
		.buttons{
			margin-top: 35px;
			.btn{
				border-radius: 3px;
				border-color: transparent;
				height: 40px;
				line-height: 26px;
				font-size: 15px;
				font-weight: 400;
				box-shadow: 2px 2px 20px -8px black;
				&.btn-warning{
					background-color: #EDBF37;
					box-shadow: 5px 5px 30px -8px #9d5c00;
				}
				&.btn-default{
					background-color: white;
					color: #9E9E9E
				}
				&:hover{
					box-shadow: 5px 5px 30px -8px black;
					transition: all 0.2s linear;
				}
			}
		}
	}
	.container{
		
	}
}
#body-home{
	background-color: black;
}
#menu{
	display: none;
	background: rgba(5,29,44,1);
	background: -moz-linear-gradient(45deg, rgba(5,29,44,1) 0%, rgba(27,60,81,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(5,29,44,1)), color-stop(100%, rgba(27,60,81,1)));
	background: -webkit-linear-gradient(45deg, rgba(5,29,44,1) 0%, rgba(27,60,81,1) 100%);
	background: -o-linear-gradient(45deg, rgba(5,29,44,1) 0%, rgba(27,60,81,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(5,29,44,1) 0%, rgba(27,60,81,1) 100%);
	background: linear-gradient(45deg, rgba(5,29,44,1) 0%, rgba(27,60,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#051d2c', endColorstr='#1b3c51', GradientType=1 );
	width: 100%;
	height: 100vh;
	.modal-nav-content {
		padding-top: 150px;
		.modal-nav-body {
			position: relative;
			z-index: 100000;
			width: 400px;
			margin: auto;
			ul{
				list-style-type: none;
				color: white;
				margin: 0;
				padding: 0;
				width: 100%;
				li {
					text-align: center;
					font-size: 130%;
					padding: 2px 8px;
					cursor: pointer;
					&:hover{
						color: #5f9ee1;
					}			
					&.more-padding{
						padding: 15px 8px;
					}
				}
			}
		}	
	}
}
footer{
	text-align: center;
	color: white;
	opacity: 0.5;
	height: 50px;
	transition: all 0.2s linear;
	&.no-opa{
		opacity: 1;
	}
}