@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
/* @font-face {
	font-family: "Hagin Caps";
	src: url("../fonts/Hagin Caps Medium 2.otf") format("otf"),
		 url("../fonts/Hagin Caps Medium 3.otf") format("otf"),
		 url("../fonts/Hagin Caps Medium 4.otf") format("otf"),
		 url("../fonts/Hagin Caps Medium 5.otf") format("otf"),
		 url("../fonts/Hagin Caps Medium 6.otf") format("otf"),
		 url("../fonts/Hagin Caps Medium 7.otf") format("otf"),
		 url("../fonts/Hagin Caps Medium 8.otf") format("otf"),
		 url("../fonts/Hagin Caps Medium.otf") format("otf");
} */
@import "mixins";
@include font-face("Hagin Caps",'../fonts/Hagin_Caps_Medium');
$font-family-base: 'Raleway', sans-serif;
$font-family-base-especial: 'Hagin Caps';
$color-text: #595959;
// Import bootstrap and fontawesome
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
body{
	background-color: black;
}
#content{
	background-color: white;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.top-buffer { margin-top:40px; }
.navbar{
	margin-top: 50px;
	height: 170px;
	&.no-fixed{
		position: absolute;
	}
	&.know_us{
		height: 90px;
		margin-top: 20px;
		.container{
			width: 65%;
			max-width: 950px;
		}
	}
	&.navbar-default{
		background-color: transparent;
		border-color: transparent;
	}
	.container{
		height: 100%;
		.navbar-header {
		    width: 100%;
		    height: 100%;
		    display: flex;
		    align-items: center;
		    .navbar-brand{
		    	display: block;
		    	height: 100%;
		    	padding: 0;
		    	transition: all 0.2s linear;
		    	img{
		    		height: 100%;
		    	}
		    }
			.navbar-toggle {
				display: block;
				float: right;
				order: 2;
			    margin-left: auto;
				border-color: transparent;
				height: 50px;
				width: 50px;
				border-radius: 50%;
				padding-left: 13px;
				.icon-bar{
					transition: .5s ease;
					background-color: white;
					&:nth-child(2){
						transform: rotate(-45deg)translateY(5px)translateX(-5px);
					}
					&:nth-child(3){
						opacity: 0
					}
					&:nth-child(4){
						transform:rotate(45deg)translateY(-4px)translateX(-3px);
					}
				}
				&.collapsed {
					.icon-bar{
						&.white{
							background-color: white;
						}
						&.dark{
							background-color: black;
						}
						&:nth-child(2){
							transform: rotate(0)translateY(0)translateX(0);
						}
						&:nth-child(3){
							opacity:1
						}
						&:nth-child(4){
							transform:rotate(0)translateY(0)translateX(0);
						}
					}
				}
				&:hover,&:focus{
					.icon-bar{
						background-color: white !important;
					}
					background-color: rgba(0, 0, 0, 0.5);
					transition: all 0.2s linear;
				}
			}
		}
	}
}
#body-home{
	.jumbotron{
		height: 100vh;
		padding-top: 140px;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 0;
		transition: all 0.2s linear;
		&.bg01{
			background-image: url(../images/img_index/bg01.png);
		}
		&.bg02{
			background-image: url(../images/img_index/bg02.png);
		}
		&.bg03{
			background-image: url(../images/img_index/bg03.png);
		}
		&.index-ff{
			.images{
				#img_index_center02{
					margin-left: 45px;
				}
				.img-center{
					height: 311px;
				}
			}
			.buttons{
				margin-top: 35px;
				.btn{
					border-radius: 3px;
					border-color: transparent;
					height: 40px;
					line-height: 26px;
					font-size: 15px;
					font-weight: 400;
					box-shadow: 2px 2px 20px -8px black;
					&.btn-warning{
						background-color: #EDBF37;
						box-shadow: 5px 5px 30px -8px #9d5c00;
					}
					&.btn-default{
						background-color: white;
						color: #9E9E9E
					}
					&:hover{
						box-shadow: 5px 5px 30px -8px black;
						transition: all 0.2s linear;
					}
				}
			}
		}
		.container{
			
		}
	}
}
#body-know_us{
	.jumbotron{
		height: 100vh;
		padding-top: 140px;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 0;
		transition: all 0.2s linear;
		background-image: url(../images/img_know_us/bg_banner.png);
		img{
			width: 110%;
			margin-left: -45px;
		}
		.texts{
			.text{
				font-size: 18px;
				color: #6c6c6c;
				line-height: 18px;
				&.bold-blue{
					font-family: $font-family-base-especial;
					text-transform: uppercase;
					color: #1c2f43;
					font-size: 38px;
					line-height: 35px;
					font-weight: 500;
					.font-dif{
						font-size: 48px;
					}
					.font-dif-less{
						font-size: 30px;
					}
				}
			}
		}
	}
	#scroll{
		text-align: center;
		width: 100%;
		position: absolute;
		bottom: 26px;
		img{
			height: 130px;
			opacity: 0.5;
		}
	}
	#section01{
		color: $color-text;
		.container{
			width: 65%;
			max-width: 950px;
		}
		.texts{
			padding-right: 80px;
		}
		.title-section{
			font-weight: bold;
			font-size: 28px;
			text-transform: uppercase;
			&.more-bold{
				font-size: 30px;
			}
		}
		img{
			width: 100%;
		}
		h2{
			text-align: center;
			font-weight: 600;
			text-transform: uppercase;
			width: 80%;
			margin: 55px auto 30px auto;
		}
		h4{
			text-align: center;
			width: 80%;
			margin: 0 auto 80px auto;
		}
	}
	#section02{
		position: relative;
		bottom: 85px;
		color: $color-text;
		.container{
			width: 65%;
			max-width: 950px;
		}
		.texts{
			padding-left: 80px;

		}
		.title-section{
			margin-top: 125px;
			font-weight: bold;
			font-size: 28px;
			text-transform: uppercase;
			text-align: right;
		}
		img{
			width: 100%;
		}
	}
	#section03{
		position: relative;
		bottom: 145px;
		color: $color-text;
		.container{
			width: 65%;
			max-width: 950px;
		}
		.texts{
			

		}
		.title-section{
			margin-top: 125px;
			font-weight: bold;
			font-size: 28px;
			text-transform: uppercase;
			
		}
		img{
			width: 125%;
			position: relative;
			left: -85px;
		}
	}
	#section04{
		position: relative;
		bottom: 125px;
		color: $color-text;
		margin-top: 20px;
		.container{
			width: 65%;
			max-width: 950px;
		}
		.texts{
			padding-left: 80px;

		}
		.btn{
			height: 45px;
			width: 170px;
			font-size: 15px;
			line-height: 30px;
			border-color: transparent;
			border-radius: 0px;
			float: right;
			&.btn-danger{
				background-color: #dd6d5c;
			}
		}
		.title-section{
			font-weight: bold;
			font-size: 28px;
			text-transform: uppercase;
			text-align: left;
		}
		.tuto{
			margin-top: 15px;
			font-weight: bold;
			font-size: 22px;
			text-transform: uppercase;
			text-align: left;
		}
		img{
			width: 100%;
		}
	}
	#section05{
		color: $color-text;
		margin-bottom: 50px;
		.container{
			width: 65%;
			max-width: 950px;
		}
		.title-section{
			font-weight: bold;
			font-size: 20px;
			text-transform: uppercase;
			&.more-bold{
				font-size: 30px;
			}
		}
		.btn{
			height: 35px;
			width: 110px;
			border-color: transparent;
			border-radius: 0px;
			float: left;
			&.btn-danger{
				background-color: #dd6d5c;
			}
		}
		p{
			font-size: 15px;
			line-height: 15px;
			&.text-title{
				text-align: center;
				width: 60%;
				margin: 0 auto 55px auto;
			}
		}
		img{
			width: 100%;
		}
		h2{
			text-align: center;
			font-weight: 600;
			text-transform: uppercase;
			width: 80%;
			margin: 0 auto 30px auto;
		}
		h4{
			text-align: center;
			width: 80%;
			margin: 0 auto 80px auto;
		}
	}
	#sectionMail{
		color: white;
		background-image: url(../images/img_know_us/bg_mail_footer.PNG);
		.container{
			width: 65%;
			max-width: 950px;
		}
		h2{
			text-align: center;
			font-weight: 600;
			text-transform: uppercase;
			width: 50%;
			margin: 25px auto 30px auto;
		}
		img{
			width: 100%;
		}
		.form-control{
			border-color: transparent;
			background-image: url(../images/img_know_us/bg_footer.PNG);
		}
		.form-group{
			label{
				font-weight: 500;
				font-size: 15px;
			}
		}
		.btn{
			height: 35px;
			width: 150px;
			border-color: transparent;
			border-radius: 0px;
			position: relative;
			top: -35px;
			right: -45px;
			float: right;
			&.btn-danger{
				background-color: #dd6d5c;
			}
		}
	}
	footer{
		background-image: url(../images/img_know_us/bg_footer.PNG);
		padding-top: 15px;
		color: white;
		opacity: 1;
		height: 100%;
		.container{
			width: 65%;
			max-width: 950px;
		}
		.row{
			margin-top: 15px;
			margin-bottom: 10px;
			&.different{
				margin-bottom: 25px;
				img{
					width: 70%;
					&.more-small{
						width: 50%;
					}
				}
				p{
					opacity: 1;
					font-size: 18px;

				}
			}
		}
		p{
			opacity: 0.5;
		}
	}
}
#menu{
	display: none;
	background: rgba(5,29,44,1);
	background: -moz-linear-gradient(45deg, rgba(5,29,44,1) 0%, rgba(27,60,81,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(5,29,44,1)), color-stop(100%, rgba(27,60,81,1)));
	background: -webkit-linear-gradient(45deg, rgba(5,29,44,1) 0%, rgba(27,60,81,1) 100%);
	background: -o-linear-gradient(45deg, rgba(5,29,44,1) 0%, rgba(27,60,81,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(5,29,44,1) 0%, rgba(27,60,81,1) 100%);
	background: linear-gradient(45deg, rgba(5,29,44,1) 0%, rgba(27,60,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#051d2c', endColorstr='#1b3c51', GradientType=1 );
	width: 100%;
	height: 100vh;
	.modal-nav-content {
		padding-top: 150px;
		.modal-nav-body {
			position: relative;
			z-index: 100000;
			width: 400px;
			margin: auto;
			ul{
				list-style-type: none;
				color: white;
				margin: 0;
				padding: 0;
				width: 100%;
				li {
					text-align: center;
					font-size: 130%;
					padding: 2px 8px;
					cursor: pointer;
					a{
						color: white;
						text-decoration: none;
						&:hover{
							color: #5f9ee1;
						}	
					}		
					&.more-padding{
						padding: 15px 8px;
					}
				}
			}
		}	
	}
}
footer{
	text-align: center;
	color: white;
	opacity: 0.5;
	height: 50px;
	transition: all 0.2s linear;
	&.no-opa{
		opacity: 1;
	}
}